.custom-menu-account {
  background: #191c24 !important;
  font-size: 1rem;
 padding:0 !important;
  width: 13.5rem !important;
  box-shadow: 0px 0px 35px -3px black;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.custom-dropItem-account {
  padding: 0.5rem;
  border-bottom:1px solid rgba(255, 255, 255, 0.05) !important;
  margin: 0;
}
