.custom-menu-chat{
    margin:0 !important;
    background:#191c24 !important;
    font-size:1rem;
    padding:0 !important;
    width:18rem !important;
    box-shadow: 0px 0px 35px -3px black;
}
    
.custom-dropItem-chat{
    padding: 0.5rem !important;
    margin:0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
}

.message{
    padding-left:20px;
    display:flex;
    flex-direction:column;
}
.subvalue{
    font-size:0.75rem;
    color:#46628a;
}